h1{
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: #333333;
}

main{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 10px auto;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #EDE8D0;
    margin: 5px;
    padding: 20px;
}

fieldset {
    border: 2px solid #333333;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0 10px 0;
    display: block;
    text-align: left;
    background-color: #FFFFFF;
}

img {
    display: block;
    margin: 0 auto 0;
}

legend {
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
}

input, select, textarea{
    width:95%;
    padding: 8px;
    border: 2px solid #333333;
    border-radius: 8px;
}

input {
    margin-right: 0px;
    margin-bottom: 9px;
}

select {
    margin-bottom: 9px;
}

textarea{
    display: block;
    margin: 6px auto;
    width: 90%;
    min-height:80px;
}

input[type="radio"] , input[type="checkbox"]{
    width: auto;
    margin-right: 6px;
}

input[type="color"]{
    width: 40px;
    padding: 0 5px;
}
label{
    display: inline-block;
    margin-bottom: 6px;
}

input:invalid, select:invalid, textarea:invalid{
    border: 2px solid #FF0000;  
}

input:valid, select:valid, textarea:valid{
    border: 2px solid green;  
}

button{
    background-color: #333333;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    margin: 10px auto;
}

button[type="submit"]:hover{
    background-color: green;
}

button[type="reset"]:hover{
    background-color: red;
}

input[type="range"]{
    width: 95%;
    accent-color: #333333;
}

p{
    text-align: center;
    font-size: 19px;}